<div class="sky-modal-close-confirm">
  <sky-modal
    ariaRole="alertdialog">
    <sky-modal-content>
      <div class="sky-modal-close-confirm-message sky-emphasized">
        {{ (configuration | async).message }}
      </div>
      <div class="sky-modal-close-confirm-buttons">
        <button
          autofocus
          class="sky-btn sky-btn-primary"
          type="button"
          (click)="close('yes')"
        >
          {{ (configuration | async).confirmButtonText }}
        </button>
        <button
          class="sky-btn sky-btn-link"
          type="button"
          (click)="close('cancel')"
        >
          {{ (configuration | async).cancelButtonText }}
        </button>
      </div>
    </sky-modal-content>
  </sky-modal>
</div>
