@import "~@skyux/theme/scss/mixins";
@import "~@skyux/theme/scss/_compat/mixins";
@import "~@skyux/theme/scss/variables";

.sky-confirm-message {
  margin-top: $sky-margin-half;
}

.sky-confirm-body {
  margin-top: $sky-margin;
}

.sky-confirm-buttons {
  margin-top: $sky-margin-double;
}

.sky-confirm-preserve-white-space {
  white-space: pre-wrap;
}

@include sky-theme-modern-dark {
  .sky-confirm-message {
    color: $sky-theme-modern-mode-dark-font-body-default-color;
  }
}
